body {
  font-family: 'Open Sans', sans-serif;
  min-height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  padding: 1em;
  background-color: black;
  color: white;
}

header ul {
  display: flex;
  flex-direction: row;
}

header ul li {
  padding: 10px;
}

header h3 {
  color: red;
  font-weight: 700;
  font-size: 40px;
}

header button {
  position: absolute;
  right: 10px;
  color: white;
  background-color: blue;
  border: none;
  width: 100px;
  height: 35px;
}

.week-banner {
  background-color: blue;
  display: flex;
  justify-content: center;
}

.week-banner h2 {
  color: white;
  font-weight: 700;
  align-self: flex-start;
}

.week-buttons {
  display: flex;
  flex-direction: row;
}

