html {
  min-height: 100%;
  background-color: black;
}

.partners {
  background-color: #202020;
  padding: 15px;
}

.partners h2 {
  color: white;
  font-weight: 700;
}

.partner-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  min-height: 100vh;
  padding: 40px 0px;
}

.partner-card {
  background-color: black;
  width: 200px;
  height: 300px;
}

.partner-name {
  color: red;
  font-weight: 700;
}

.partner-pic-bg {
  display: flex;
  background-color: blue;
  justify-content: center;
}

.partner-pic {
  border-radius: 50%;
  width: 40%;
  height: 40%;
  padding: 15px 0px;
}

.partner-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partner-stats {
  color: white;
  align-self: flex-start;
  padding: 20px;
}